{% if site.theme1.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme1.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.email_address %}
<li>
	<a href="mailto:{{ site.theme1.email_address }}" title="{{ site.theme1.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.behance %}
<li>
	<a href="https://www.behance.net/{{ site.theme1.behance }}" title="{{ site.theme1.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.theme1.bitbucket }}" title="{{ site.theme1.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.theme1.dribbble }}" title="{{ site.theme1.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.theme1.facebook }}" title="{{ site.theme1.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.theme1.flickr }}" title="{{ site.theme1.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.github %}
<li>
	<a href="https://github.com/{{ site.theme1.github }}" title="{{ site.theme1.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.theme1.google_plus }}" title="{{ site.theme1.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.instagram %}
<li>
	<a href="http://instagram.com/{{ site.theme1.instagram }}" title="{{ site.theme1.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.linkedin %}
<li>
	<a href="{{ site.theme1.linkedin }}" title="{{ site.theme1.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.theme1.pinterest }}" title="{{ site.theme1.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.theme1.reddit }}" title="{{ site.theme1.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.theme1.soundcloud }}" title="{{ site.theme1.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.stack_exchange %}
<li>
	<a href="{{ site.theme1.stack_exchange }}" title="{{ site.theme1.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.theme1.steam }}" title="{{ site.theme1.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.tumblr %}
<li>
	<a href="http://{{ site.theme1.tumblr }}.tumblr.com/" title="{{ site.theme1.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.twitter %}
<li>
	<a href="https://twitter.com/{{ site.theme1.twitter }}" title="{{ site.theme1.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.wordpress %}
<li>
	<a href="https://{{ site.theme1.wordpress }}.wordpress.com/" title="{{ site.theme1.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.theme1.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.theme1.youtube }}" title="{{ site.theme1.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
